PORT=5000
MONGODB_URI=mongodb://localhost:27017/ophmart
NODE_ENV=development

JWT_SECRET=ophmart_super_secret_jwt_key_2026_luxury_editorial
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=ophmart_super_secret_refresh_jwt_key_2026
JWT_REFRESH_EXPIRES_IN=30d

CLOUDINARY_CLOUD_NAME=demo
CLOUDINARY_API_KEY=1234567890
CLOUDINARY_API_SECRET=abcdefghijklmnopqrstuvwxyz

FRONTEND_URL=http://localhost:3000

STRIPE_SECRET_KEY=mock_stripe_key
RAZORPAY_KEY_ID=mock_razorpay_key
RAZORPAY_KEY_SECRET=mock_razorpay_secret
